*{
    padding: 0;
    margin: 0;
}
/**************** NAV ********************/
body{
    width: 100%;
}
.navBar{
    width: 100%;
    background-color: rgb(60, 55, 99);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 5px solid rgb(173, 236, 173);
}
.imgCremas{
    width: 5%;
}
.tituloProductos{
    font-size: 50px;
    color: white;
}
.tituloDescripcion{
    display: flex;
    justify-content: center;
    color: rgb(172, 238, 172);
}
.btn-group{
    padding-left: 10rem;
}
.navbar-brand{
    font-size: 20px;
    align-items: center;
    color: white;
  
}
.admin{
    font-style: oblique;
    font-weight: bold;
    font-size: 20px;
    color: rgb(69, 129, 51);
    justify-content: flex-end;

}
/****************** MAIN ********************/
.container{
    margin: 2em;
}
.listaProductos{
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 3rem 0 5rem;
    color:rgb(89, 86, 107);
    display: flex;
    justify-content: center;
}